DATABASE_URL="postgresql://postgres.oaywoxchdfphlozkwgwx:1088360430Alex@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.oaywoxchdfphlozkwgwx:1088360430Alex@aws-0-us-west-1.pooler.supabase.com:5432/postgres"
        
PORT=3000   
#ENDPOINT="https://intern-chat-backend-production.onrender.com"

SECRET_KEY="abaiSecretSuper4598569xz"
SUPABASE_URL="https://oaywoxchdfphlozkwgwx.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9heXdveGNoZGZwaGxvemt3Z3d4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUzNTc4NjQsImV4cCI6MjAzMDkzMzg2NH0.1Jdva3O6mebiRsNvmj1ZVdi6avqqw1yxvlmClt71oUk"
STORAGE_URL="https://oaywoxchdfphlozkwgwx.supabase.co/storage/v1/object/public/Storage%20Chat%20Internal/"

REDIS_HOST="redis-10380.c281.us-east-1-2.ec2.redns.redis-cloud.com"
REDIS_PASSWORD="s5hXzfdvWLhTYaw"
REDIS_PORT="10380"
